[submodule "SampleCoreData"]
	path = SampleCoreData
	url = git://github.com/danielctull/SampleCoreData.git
[submodule "DCTUIKit"]
	path = DCTUIKit
	url = git://github.com/danielctull/DCTUIKit.git
[submodule "SampleViewControllers"]
	path = SampleViewControllers
	url = git://github.com/danielctull/SampleViewControllers.git
